html
	head
		title Map

		meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
		
		// jQuery
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
		link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')

		// Mapbox
		script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js')
		link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css', rel='stylesheet')

		// javaScripts
		script(src='../javascripts/map.js')

		// CSS
		link(rel='stylesheet', href='../stylesheets/stylesheet.css')

		// Font Awesome
		script(src='https://use.fontawesome.com/5f92b1f541.js')
	body
		.content
			.navigation
				p.title GEOJSON API
				p.subtitle click to see data on the map
				p.buttons
					button.button.select-data(value='vancouver_buildings') vancouver buildings
					button.button.select-data(value='vancouver_landusages') vancouver landusages
					button.button.select-data(value='calgary_buildings') calgary buildings
				p.links
					a.link(href='https://twitter.com/julconz')
						i.fa.fa-twitter-square(aria-hidden='true')
					a.link(href='https://github.com/Noznoc')
						i.fa.fa-github-square(aria-hidden='true')
					a.link(href='https://t.co/jMpBYPZXG0')
						i.fa.fa-linkedin-square(aria-hidden='true')

			.map
				#map
