html
	head
		title Map
		
		// jQuery
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
		link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')

		// Leaflet
		script(src='../src/leaflet/leaflet.js')
		link(rel='stylesheet', href='../src/leaflet/leaflet.css')

		// Mapbox
		script(src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js')
		script(src='../src/geojson-vt/geojson-vt-dev.js')

		// javaScripts
		script(src='../javascripts/map.js')

		// CSS
		link(rel='stylesheet', href='../stylesheets/menu.css')
		

	body

		.menu
			select#cities
				option SELECT CITY
				option(value='ottawa') Ottawa
				option(value='gatineau') Gatineau

		#map(style='width: 100%; height: 100%;')