.menu
	background-color: $primary-color
	color: #fff
	text-align: center
	
	select
		font-family: $primary-font
		padding: 10px
		color: #fff
		border-left: 1px solid white
		border-right: 1px solid white
		border-bottom: 0px
		border-top: 0px
		background-color: $primary-color
		&:hover
			cursor: pointer

		option
			&:hover
				cursor: pointer

